.logoutLblPos{

    position:fixed;
    right:10px;
    top:5px;
  }
  
  
  .column {
      float: left;
      width: 50%;
    }
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    